@page "/books"
@using BlazorApp.Models

<PageTitle>Digital Library</PageTitle>

<div class="vh-100 text-white bg-dark">
    <h1 class="">Outspoken dreams, unleash your imagination</h1>

<h3>Book List</h3>

@if (books == null)
{
            <p><em>Loading...</em></p>
}
else
{
    <ul class="text-black">
        @foreach (var book in books)
        {
            <li>
                <div class="card">
                <img src="@book.Url" class="card-img-top" alt="@book.Title cover" height="400">
                <div class="card-body">
                    <h4 class="card-title">@book.Title</h4>
                    <h5>@book.Author (@book.Year)</h5>
                    <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </li>
        }
    </ul>
}

@code {
    private List<Book> books;

    protected override void OnInitialized()
    {
        // Simulating a list of books (figure out API or database)
        books = new List<Book>
        {
            new Book { Title = "The Great Gatsby", Author = "F. Scott Fitzgerald", Year = 1925, Url = "https://m.media-amazon.com/images/I/81QuEGw8VPL.jpg" },
            new Book { Title = "To Kill a Mockingbird", Author = "Harper Lee", Year = 1960, Url = "https://m.media-amazon.com/images/I/81aY1lxk+9L.jpg" },
            new Book { Title = "1984", Author = "George Orwell", Year = 1949, Url = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSieH3L1WsbphfalMi0zJ144RQakkzOMKKYEQ&s" }
        };
    }
}
</div>